@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="register">
        <div class="cta-buttons">
            <a class="btn btn-info" href="/register/candidate">As candidate</a>
            <a class="btn btn-info" href="/register/recruiter">As recruiter</a>
        </div>
        <div class="back">
            <a asp-controller="Home" asp-action="Index">Back to home</a>
        </div>
    </div>
